@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.App {
  text-align: center;
}

.main-container {
  border: 2px solid black;
  width: 663px;
  height: 500px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}

.main-card {
  padding-top: 60px;
  font-family: 'Prata', serif;
}

.main-header {
  font-size: 70px;
}

.nav-logo {
  font-family: 'Prata', serif;
}

.mb-3 {
  width: 75%;
  margin-left: 10%;
  padding: 20px;
}